
\.vs/config/

\.vs/SquaresWebService/v15/

BasicGrid/bin/Debug/netcoreapp2\.2/

BasicGrid/bin/Release/netcoreapp2\.2/linux-x64/

BasicGrid/bin/Release/netcoreapp2\.2/

BasicGrid/obj/Debug/netcoreapp2\.2/

BasicGrid/obj/publish/linux-x64/

BasicGrid/obj/Release/netcoreapp2\.2/

BasicGrid/obj/netcoreapp2\.2/linux-x64/host/

BasicGrid/obj/

SquaresWebService/bin/Debug/netcoreapp2\.2/linux-x64/

SquaresWebService/bin/Debug/netcoreapp2\.2/

SquaresWebService/obj/Debug/netcoreapp2\.2/linux-x64/PubTmp/Out/

SquaresWebService/obj/Debug/netcoreapp2\.2/linux-x64/

SquaresWebService/obj/Debug/netcoreapp2\.2/

SquaresWebService/obj/publish/linux-x64/

SquaresWebService/obj/Release/netcoreapp2\.2/

SquaresWebService/obj/
